--disable-libtool-lock
--disable-largefile
--disable-threadsafe
--enable-shared=no
--enable-fast-install
--enable-releasemode
--enable-tempstore
--enable-editline
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-fts5
--enable-update-limit
--enable-geopoly
--enable-rtree
--enable-session
--with-pic
