--disable-libtool-lock
--disable-largefile
--disable-tcl
--disable-readline
--disable-amalgamation
--disable-load-extension
--enable-shared=no
--enable-static
--enable-fast-install
--enable-releasemode
--enable-tempstore
--enable-editline
--enable-all
--enable-fts3
--enable-fts5
--enable-json1
--enable-update-limit
--enable-rtree
--enable-session
--with-pic
--with-tcl=/usr/lib64
