--disable-option-checking
--disable-largefile
--disable-threadsafe
--disable-tcl
--disable-amalgamation
--disable-load-extension
--disable-math
--enable-static
--enable-fast-install
--enable-editline
--enable-all
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-fts5
--enable-update-limit
--enable-geopoly
--enable-gcov
--with-tcl=/usr/lib64
