--disable-option-checking
--disable-libtool-lock
--disable-threadsafe
--disable-readline
--disable-amalgamation
--disable-load-extension
--disable-math
--enable-shared=no
--enable-static
--enable-tempstore
--enable-editline
--enable-debug
--enable-all
--enable-memsys3
--enable-fts4
--enable-fts5
--enable-json1
--enable-rtree
--with-gnu-ld
