--disable-threadsafe
--disable-readline
--disable-amalgamation
--disable-load-extension
--disable-math
--enable-shared=no
--enable-static
--enable-fast-install
--enable-releasemode
--enable-editline
--enable-all
--enable-memsys3
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-fts5
--enable-rtree
--enable-gcov
--with-gnu-ld
