--disable-option-checking
--disable-libtool-lock
--disable-threadsafe
--disable-readline
--disable-amalgamation
--enable-shared=no
--enable-static
--enable-tempstore
--enable-editline
--enable-all
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-update-limit
--enable-geopoly
--enable-session
--enable-gcov
--with-pic
--with-gnu-ld
--with-tcl=/usr/lib64
