--disable-option-checking
--disable-largefile
--disable-threadsafe
--disable-tcl
--disable-readline
--disable-math
--enable-shared=no
--enable-tempstore
--enable-debug
--enable-memsys3
--enable-fts3
--enable-fts4
--enable-fts5
--enable-json1
--enable-rtree
--enable-session
--enable-gcov
--with-pic
--with-gnu-ld
