--disable-option-checking
--disable-largefile
--disable-threadsafe
--disable-readline
--enable-shared=no
--enable-releasemode
--enable-tempstore
--enable-editline
--enable-debug
--enable-memsys3
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-update-limit
--enable-geopoly
--enable-session
--enable-gcov
--with-tcl=/usr/lib64
