--disable-option-checking
--disable-threadsafe
--disable-tcl
--disable-amalgamation
--disable-load-extension
--disable-math
--enable-shared=no
--enable-static
--enable-editline
--enable-all
--enable-memsys3
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-update-limit
--enable-geopoly
--enable-session
--with-tcl=/usr/lib64
