--disable-option-checking
--disable-largefile
--disable-threadsafe
--disable-readline
--disable-load-extension
--disable-math
--enable-static
--enable-releasemode
--enable-tempstore
--enable-editline
--enable-all
--enable-memsys3
--enable-fts3
--enable-fts5
--enable-session
--with-pic
--with-gnu-ld
