--disable-option-checking
--disable-largefile
--disable-threadsafe
--disable-readline
--disable-amalgamation
--disable-math
--enable-shared=no
--enable-fast-install
--enable-tempstore
--enable-editline
--enable-debug
--enable-all
--enable-memsys5
--enable-fts4
--enable-fts5
--enable-update-limit
--with-gnu-ld
