--disable-tcl
--disable-readline
--disable-amalgamation
--disable-load-extension
--disable-math
--enable-fast-install
--enable-releasemode
--enable-tempstore
--enable-editline
--enable-debug
--enable-all
--enable-memsys3
--enable-fts3
--enable-fts4
--enable-fts5
--enable-update-limit
--enable-geopoly
--enable-rtree
