--disable-option-checking
--disable-largefile
--disable-readline
--disable-amalgamation
--disable-math
--enable-shared=no
--enable-fast-install
--enable-releasemode
--enable-editline
--enable-all
--enable-fts3
--enable-fts4
--enable-fts5
--enable-json1
--enable-geopoly
--enable-session
--enable-gcov
--with-pic
--with-gnu-ld
--with-tcl=/usr/lib64
