--disable-option-checking
--disable-largefile
--disable-threadsafe
--disable-amalgamation
--disable-load-extension
--disable-math
--enable-shared=no
--enable-releasemode
--enable-tempstore
--enable-editline
--enable-all
--enable-update-limit
--enable-geopoly
--enable-rtree
--enable-session
--with-pic
