--disable-option-checking
--disable-libtool-lock
--disable-largefile
--disable-threadsafe
--disable-load-extension
--enable-shared=no
--enable-releasemode
--enable-debug
--enable-memsys3
--enable-fts3
--enable-fts5
--enable-json1
--enable-update-limit
--enable-geopoly
--enable-rtree
--enable-gcov
--with-pic
