--disable-option-checking
--disable-tcl
--disable-readline
--disable-amalgamation
--disable-load-extension
--enable-static
--enable-fast-install
--enable-releasemode
--enable-tempstore
--enable-editline
--enable-debug
--enable-fts3
--enable-fts4
--enable-fts5
--enable-json1
--enable-rtree
--enable-gcov
--with-gnu-ld
