--disable-option-checking
--disable-libtool-lock
--disable-threadsafe
--disable-tcl
--disable-amalgamation
--disable-load-extension
--disable-math
--enable-shared=no
--enable-static
--enable-fast-install
--enable-tempstore
--enable-editline
--enable-all
--enable-fts4
--enable-json1
--enable-geopoly
--enable-session
--enable-gcov
--with-gnu-ld
--with-tcl=/usr/lib64
