--disable-libtool-lock
--disable-largefile
--disable-tcl
--disable-readline
--disable-load-extension
--enable-shared=no
--enable-static
--enable-fast-install
--enable-tempstore
--enable-debug
--enable-all
--enable-memsys3
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-update-limit
--enable-gcov
--with-pic
--with-tcl=/usr/lib64
