--disable-libtool-lock
--disable-largefile
--disable-tcl
--disable-readline
--disable-math
--enable-static
--enable-releasemode
--enable-tempstore
--enable-editline
--enable-memsys3
--enable-fts4
--enable-fts5
--enable-json1
--enable-geopoly
--enable-rtree
--enable-gcov
--with-pic
--with-tcl=/usr/lib64
