--disable-option-checking
--disable-libtool-lock
--disable-largefile
--disable-readline
--enable-shared=no
--enable-static
--enable-editline
--enable-debug
--enable-all
--enable-memsys3
--enable-fts3
--enable-fts4
--enable-fts5
--enable-update-limit
--enable-rtree
--enable-gcov
--with-gnu-ld
--with-tcl=/usr/lib64
