--disable-option-checking
--disable-threadsafe
--disable-tcl
--disable-readline
--disable-amalgamation
--disable-math
--enable-shared=no
--enable-static
--enable-fast-install
--enable-releasemode
--enable-tempstore
--enable-editline
--enable-debug
--enable-fts3
--enable-fts4
--enable-fts5
--enable-update-limit
--enable-rtree
--enable-gcov
--with-pic
