--disable-option-checking
--disable-largefile
--disable-threadsafe
--disable-tcl
--disable-readline
--disable-amalgamation
--disable-load-extension
--enable-releasemode
--enable-tempstore
--enable-editline
--enable-debug
--enable-all
--enable-fts4
--enable-json1
--enable-update-limit
--enable-geopoly
--enable-rtree
--enable-gcov
--with-gnu-ld
