--disable-option-checking
--disable-libtool-lock
--disable-threadsafe
--disable-tcl
--disable-readline
--disable-amalgamation
--disable-load-extension
--enable-static
--enable-releasemode
--enable-tempstore
--enable-editline
--enable-debug
--enable-memsys5
--enable-json1
--enable-update-limit
--enable-session
--with-pic
--with-tcl=/usr/lib64
