--disable-option-checking
--disable-libtool-lock
--disable-readline
--disable-amalgamation
--enable-shared=no
--enable-fast-install
--enable-debug
--enable-memsys3
--enable-memsys5
--enable-fts3
--enable-fts5
--enable-update-limit
--enable-geopoly
--enable-rtree
--enable-gcov
--with-gnu-ld
--with-tcl=/usr/lib64
