--disable-option-checking
--disable-libtool-lock
--disable-largefile
--disable-threadsafe
--disable-tcl
--disable-readline
--disable-load-extension
--enable-static
--enable-releasemode
--enable-tempstore
--enable-debug
--enable-all
--enable-fts4
--enable-fts5
--enable-update-limit
--enable-rtree
--with-gnu-ld
--with-tcl=/usr/lib64
