--disable-option-checking
--disable-libtool-lock
--disable-threadsafe
--disable-tcl
--disable-readline
--disable-amalgamation
--enable-static
--enable-fast-install
--enable-releasemode
--enable-tempstore
--enable-editline
--enable-all
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-fts5
--enable-update-limit
--enable-geopoly
--enable-session
--enable-gcov
--with-pic
