--disable-option-checking
--disable-libtool-lock
--disable-largefile
--disable-threadsafe
--disable-tcl
--disable-readline
--disable-load-extension
--disable-math
--enable-releasemode
--enable-tempstore
--enable-editline
--enable-debug
--enable-memsys3
--enable-fts3
--enable-update-limit
--enable-rtree
--enable-session
--with-tcl=/usr/lib64
