--disable-libtool-lock
--disable-largefile
--disable-threadsafe
--disable-tcl
--disable-readline
--disable-amalgamation
--disable-load-extension
--enable-shared=no
--enable-static
--enable-releasemode
--enable-tempstore
--enable-debug
--enable-json1
--enable-geopoly
--enable-rtree
--enable-gcov
--with-pic
