--disable-option-checking
--disable-libtool-lock
--disable-largefile
--disable-threadsafe
--disable-tcl
--disable-readline
--disable-math
--enable-all
--enable-memsys3
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-fts5
--enable-rtree
--enable-session
--enable-gcov
--with-pic
--with-gnu-ld
--with-tcl=/usr/lib64
