--disable-libtool-lock
--disable-largefile
--disable-threadsafe
--disable-readline
--disable-amalgamation
--disable-math
--enable-shared=no
--enable-static
--enable-debug
--enable-all
--enable-memsys3
--enable-memsys5
--enable-fts4
--enable-update-limit
--enable-rtree
--enable-session
--enable-gcov
--with-gnu-ld
