--disable-option-checking
--disable-threadsafe
--disable-amalgamation
--disable-load-extension
--enable-shared=no
--enable-fast-install
--enable-releasemode
--enable-tempstore
--enable-debug
--enable-memsys3
--enable-fts3
--enable-fts4
--enable-json1
--enable-rtree
--enable-session
--enable-gcov
--with-pic
--with-gnu-ld
--with-tcl=/usr/lib64
