--disable-option-checking
--disable-libtool-lock
--disable-tcl
--disable-readline
--disable-amalgamation
--disable-math
--enable-fast-install
--enable-releasemode
--enable-tempstore
--enable-debug
--enable-all
--enable-memsys5
--enable-fts4
--enable-json1
--enable-update-limit
--enable-geopoly
--enable-gcov
