--disable-option-checking
--disable-libtool-lock
--disable-threadsafe
--disable-tcl
--disable-amalgamation
--disable-load-extension
--disable-math
--enable-fast-install
--enable-releasemode
--enable-tempstore
--enable-debug
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-fts5
--enable-update-limit
--with-pic
--with-gnu-ld
--with-tcl=/usr/lib64
