--disable-option-checking
--disable-libtool-lock
--disable-largefile
--disable-threadsafe
--disable-readline
--disable-load-extension
--enable-fast-install
--enable-tempstore
--enable-all
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-fts5
--enable-json1
--enable-update-limit
--enable-gcov
--with-tcl=/usr/lib64
