--disable-option-checking
--disable-largefile
--disable-threadsafe
--disable-tcl
--disable-amalgamation
--disable-load-extension
--disable-math
--enable-fast-install
--enable-releasemode
--enable-all
--enable-memsys3
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-update-limit
--enable-rtree
--enable-session
--enable-gcov
--with-gnu-ld
