--disable-libtool-lock
--disable-largefile
--disable-threadsafe
--disable-amalgamation
--disable-load-extension
--enable-static
--enable-releasemode
--enable-editline
--enable-memsys3
--enable-memsys5
--enable-fts4
--enable-fts5
--enable-json1
--enable-update-limit
--enable-session
--enable-gcov
--with-tcl=/usr/lib64
