--disable-option-checking
--disable-threadsafe
--disable-readline
--disable-math
--enable-fast-install
--enable-tempstore
--enable-all
--enable-memsys3
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-json1
--enable-update-limit
--enable-rtree
--enable-session
--with-gnu-ld
--with-tcl=/usr/lib64
