--disable-option-checking
--disable-libtool-lock
--disable-threadsafe
--disable-load-extension
--disable-math
--enable-shared=no
--enable-fast-install
--enable-all
--enable-memsys3
--enable-memsys5
--enable-fts3
--enable-fts5
--enable-json1
--enable-update-limit
--enable-geopoly
--with-pic
--with-tcl=/usr/lib64
