--disable-largefile
--disable-threadsafe
--disable-tcl
--disable-amalgamation
--disable-math
--enable-releasemode
--enable-tempstore
--enable-editline
--enable-all
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-fts5
--enable-geopoly
--enable-rtree
--enable-session
--enable-gcov
--with-pic
--with-tcl=/usr/lib64
