--disable-option-checking
--disable-libtool-lock
--disable-threadsafe
--disable-readline
--disable-amalgamation
--disable-math
--enable-shared=no
--enable-static
--enable-tempstore
--enable-editline
--enable-memsys3
--enable-memsys5
--enable-json1
--enable-update-limit
--enable-geopoly
--enable-gcov
