--disable-option-checking
--disable-libtool-lock
--disable-largefile
--disable-threadsafe
--disable-readline
--disable-load-extension
--disable-math
--enable-static
--enable-fast-install
--enable-tempstore
--enable-editline
--enable-memsys3
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-fts5
--enable-update-limit
--with-pic
