--disable-option-checking
--disable-libtool-lock
--disable-readline
--disable-amalgamation
--disable-load-extension
--disable-math
--enable-fast-install
--enable-releasemode
--enable-tempstore
--enable-editline
--enable-memsys3
--enable-fts3
--enable-fts4
--enable-fts5
--enable-geopoly
--enable-session
--with-gnu-ld
