--disable-option-checking
--disable-libtool-lock
--disable-largefile
--disable-load-extension
--enable-tempstore
--enable-all
--enable-memsys3
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-json1
--enable-update-limit
--enable-rtree
--enable-session
--enable-gcov
--with-pic
--with-gnu-ld
--with-tcl=/usr/lib64
