--disable-option-checking
--disable-tcl
--disable-readline
--disable-amalgamation
--enable-fast-install
--enable-tempstore
--enable-editline
--enable-fts3
--enable-fts4
--enable-json1
--enable-update-limit
--enable-geopoly
--enable-rtree
--enable-session
--enable-gcov
--with-pic
--with-tcl=/usr/lib64
