--disable-libtool-lock
--disable-largefile
--disable-threadsafe
--disable-load-extension
--disable-math
--enable-shared=no
--enable-static
--enable-releasemode
--enable-tempstore
--enable-editline
--enable-all
--enable-memsys3
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-json1
--enable-update-limit
--enable-rtree
--enable-session
--with-tcl=/usr/lib64
