--disable-option-checking
--disable-libtool-lock
--disable-largefile
--disable-tcl
--disable-readline
--disable-math
--enable-static
--enable-fast-install
--enable-tempstore
--enable-editline
--enable-all
--enable-fts3
--enable-fts4
--enable-fts5
--enable-update-limit
--enable-geopoly
--enable-session
--with-pic
--with-gnu-ld
--with-tcl=/usr/lib64
