--disable-option-checking
--disable-libtool-lock
--disable-threadsafe
--disable-readline
--disable-amalgamation
--disable-load-extension
--disable-math
--enable-shared=no
--enable-static
--enable-releasemode
--enable-all
--enable-memsys3
--enable-memsys5
--enable-json1
--enable-geopoly
--with-gnu-ld
--with-tcl=/usr/lib64
