--disable-option-checking
--disable-libtool-lock
--disable-tcl
--disable-readline
--disable-load-extension
--disable-math
--enable-shared=no
--enable-static
--enable-tempstore
--enable-editline
--enable-fts3
--enable-fts4
--enable-fts5
--enable-json1
--enable-geopoly
--enable-session
--with-pic
--with-gnu-ld
