--disable-option-checking
--disable-largefile
--disable-threadsafe
--disable-load-extension
--disable-math
--enable-shared=no
--enable-fast-install
--enable-tempstore
--enable-editline
--enable-all
--enable-memsys3
--enable-json1
--enable-geopoly
--enable-rtree
--enable-session
--enable-gcov
--with-gnu-ld
