--disable-option-checking
--disable-libtool-lock
--disable-largefile
--disable-threadsafe
--disable-tcl
--disable-readline
--disable-math
--enable-shared=no
--enable-fast-install
--enable-releasemode
--enable-tempstore
--enable-all
--enable-memsys3
--enable-fts4
--enable-fts5
--enable-geopoly
--enable-gcov
