--disable-option-checking
--disable-largefile
--disable-threadsafe
--disable-tcl
--disable-amalgamation
--enable-shared=no
--enable-static
--enable-tempstore
--enable-editline
--enable-fts3
--enable-json1
--enable-update-limit
--enable-geopoly
--enable-rtree
--enable-session
--enable-gcov
--with-gnu-ld
