--disable-option-checking
--disable-libtool-lock
--disable-threadsafe
--disable-tcl
--disable-readline
--disable-amalgamation
--disable-load-extension
--enable-static
--enable-releasemode
--enable-memsys3
--enable-fts3
--enable-json1
--enable-rtree
--enable-session
--enable-gcov
--with-pic
--with-gnu-ld
--with-tcl=/usr/lib64
