--disable-option-checking
--disable-libtool-lock
--disable-threadsafe
--disable-tcl
--disable-readline
--disable-amalgamation
--disable-load-extension
--enable-shared=no
--enable-releasemode
--enable-editline
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-fts5
--enable-update-limit
--with-pic
--with-gnu-ld
--with-tcl=/usr/lib64
