--disable-libtool-lock
--disable-largefile
--disable-threadsafe
--disable-load-extension
--disable-math
--enable-shared=no
--enable-tempstore
--enable-editline
--enable-all
--enable-fts3
--enable-fts4
--enable-update-limit
--enable-geopoly
--enable-rtree
--enable-session
--enable-gcov
--with-gnu-ld
