--disable-option-checking
--disable-libtool-lock
--disable-largefile
--disable-tcl
--disable-readline
--enable-shared=no
--enable-static
--enable-releasemode
--enable-all
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-fts5
--enable-geopoly
--enable-session
--with-gnu-ld
--with-tcl=/usr/lib64
