--disable-libtool-lock
--disable-threadsafe
--disable-tcl
--disable-readline
--disable-amalgamation
--disable-load-extension
--disable-math
--enable-shared=no
--enable-static
--enable-fast-install
--enable-releasemode
--enable-all
--enable-memsys5
--enable-fts5
--enable-update-limit
--enable-geopoly
--with-gnu-ld
--with-tcl=/usr/lib64
