--disable-option-checking
--disable-tcl
--disable-readline
--disable-amalgamation
--disable-math
--enable-shared=no
--enable-static
--enable-fast-install
--enable-editline
--enable-all
--enable-memsys3
--enable-fts3
--enable-fts4
--enable-update-limit
--enable-geopoly
--enable-rtree
--with-tcl=/usr/lib64
