--disable-option-checking
--disable-libtool-lock
--disable-tcl
--disable-readline
--disable-load-extension
--enable-releasemode
--enable-all
--enable-memsys3
--enable-fts3
--enable-fts4
--enable-json1
--enable-update-limit
--enable-geopoly
--enable-session
--enable-gcov
--with-pic
--with-tcl=/usr/lib64
