--disable-option-checking
--disable-libtool-lock
--disable-largefile
--disable-threadsafe
--disable-readline
--disable-amalgamation
--disable-load-extension
--disable-math
--enable-static
--enable-releasemode
--enable-tempstore
--enable-memsys3
--enable-fts4
--enable-fts5
--enable-geopoly
--enable-rtree
--enable-session
--with-pic
--with-tcl=/usr/lib64
