--disable-libtool-lock
--disable-threadsafe
--disable-readline
--disable-amalgamation
--disable-load-extension
--enable-shared=no
--enable-static
--enable-releasemode
--enable-tempstore
--enable-all
--enable-memsys3
--enable-memsys5
--enable-fts4
--enable-fts5
--enable-json1
--enable-update-limit
--enable-geopoly
--with-pic
--with-gnu-ld
