--disable-option-checking
--disable-libtool-lock
--disable-largefile
--disable-threadsafe
--disable-tcl
--disable-readline
--disable-amalgamation
--disable-math
--enable-shared=no
--enable-static
--enable-releasemode
--enable-debug
--enable-all
--enable-memsys3
--enable-fts4
--enable-update-limit
--enable-rtree
--enable-session
--with-gnu-ld
