--disable-option-checking
--disable-libtool-lock
--disable-threadsafe
--disable-tcl
--disable-readline
--disable-load-extension
--enable-shared=no
--enable-fast-install
--enable-releasemode
--enable-editline
--enable-debug
--enable-all
--enable-memsys3
--enable-fts4
--enable-update-limit
--enable-geopoly
--enable-gcov
--with-gnu-ld
