--disable-libtool-lock
--disable-largefile
--disable-tcl
--disable-readline
--disable-amalgamation
--enable-shared=no
--enable-fast-install
--enable-tempstore
--enable-debug
--enable-all
--enable-memsys5
--enable-fts3
--enable-fts5
--enable-update-limit
--enable-geopoly
--enable-rtree
--with-pic
--with-gnu-ld
--with-tcl=/usr/lib64
