--disable-libtool-lock
--disable-largefile
--disable-readline
--disable-amalgamation
--disable-load-extension
--disable-math
--enable-static
--enable-fast-install
--enable-releasemode
--enable-tempstore
--enable-debug
--enable-fts4
--enable-fts5
--enable-update-limit
--enable-geopoly
--enable-rtree
--with-pic
--with-gnu-ld
