--disable-option-checking
--disable-libtool-lock
--disable-readline
--disable-load-extension
--enable-static
--enable-releasemode
--enable-tempstore
--enable-debug
--enable-memsys3
--enable-fts3
--enable-fts4
--enable-fts5
--enable-update-limit
--enable-geopoly
--enable-rtree
--enable-session
--enable-gcov
--with-pic
