--disable-option-checking
--disable-largefile
--disable-tcl
--disable-amalgamation
--disable-load-extension
--enable-static
--enable-fast-install
--enable-releasemode
--enable-tempstore
--enable-memsys5
--enable-fts3
--enable-fts4
--enable-fts5
--enable-update-limit
--enable-rtree
--with-gnu-ld
--with-tcl=/usr/lib64
